$colores:(
    color-hover: #C99383,
    color-texto: #fff,
    color-fondo: rgba(21,21,21,0.95),
    color-navbar: rgba(14, 14, 14, 0.55),
    color-footer: rgba(14, 14, 14, 1),
    color-texto-secundario:rgb(20, 17, 17),
    color-fondo-oscuro: #0e0e0e,
    color-fondo-claro: rgba(241,241,241),
    color-texto-medio: #404040,
    color-icono: #af5d45,
)